$font-stack: Helvetica, sans-serif;
$primary-color:#ff5900;

.bg {
  color: $primary-color;
}
  // @include font-face('gotham', '/fonts/gotham');

  .jumbotron-foto{
    background-image: url("assets/img/bohemian2.jpg");
    background-size: cover;
    height:500px;
    width: auto;

  }
  .carousel-inner img{
    width:500px;
    height:350px;

  }
